@import url('./bootstrap/bootstrap.min.css');

main {
    min-height: 80vh;
}

h1 {
    /* font-size: 1.4rem; */
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

img {
    max-width: 100%;
}

.btn-block {
    width: 100%;
}

.product-canvas-image {
    height: 100%;
    object-fit: cover;
}

.product-canvas-image--outer {
    cursor: -webkit-grab;
    cursor: grab;
}

.icon {
    height: 24px;
    width: 24px;
}