@import url('./bootstrap/bootstrap.min.css');

main {
    min-height: 80vh;
    margin-top: 120px;
}

footer {
    margin-top: 50px
}

h1 {
    /* font-size: 1.4rem; */
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
}

.pointer {
    cursor: pointer;
}

.btn-block {
    width: 100%;
}

.product-canvas-image {
    height: 100%;
    object-fit: cover;
}

.product-canvas-image--outer {
    cursor: -webkit-grab;
    cursor: grab;
}

.icon-sm {
    height: 16px;
    width: 16px;
}

.icon {
    height: 24px;
    width: 24px;
}

.icon-xl {
    height: 45px;
    width: 45px;
}

.rating span {
    margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex;
}

.carousel-caption {
    position: absolute;
    top: 0;
}

.carousel-caption h2 {
    color: #fff;
}

.carousel img {
    height: 300px;
    padding: 30px;
    margin: 40px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.carousel a {
    margin: 0 auto;
}

@media (max-width: 900px) {
    .carousel-caption h2 {
        font-size: 2.5vw;
    }
}

/*  Cart Popup */
.cart-popup {
    top: 75px
}


.cart-popup>.modal-dialog {
    margin-right: 10%;

}

.cart-popup .modal-content {
    border-radius: 5px;
}

.cart-popup .modal-body {
    max-height: 300px;
    overflow-y: auto;
}